<!-- extend base layout -->
{% extends "base.html" %}
{% block main %}



<div class="col offset-md-1">
	<form id="form" action="/sign" method="post" class="p-3">


		<div class="container">
			<div class="row">
				<div class="col-xs">
					<label for="switch_type">Select the type of certificate to issue:</label><br>
					<select class="form-control" id="switch_type">
				</div>

				<div class="col-xs">
					<option value="vaccine" col-xs-3>Vaccine</option>
				</div>

				<div class="col-xs">
					<option value="test" col-xs-3>Test</option>
				</div>

				<div class="col-xs">
					<option value="recovery">Recovery</option>
				</div>

			</div>
		</div>

		</select><br>

		<div class="form-group">

			<div id="Type">
				<input type="hidden" name="type" id="type" value="v">
			</div>

			<div id="TimeZone">
				<input type="hidden" name="time_zone" id="time_zone" value="">
			</div>

			<!-- <div id="Issued">
				<label for="Issued">Issued:</label><br>
				<input type="text" name="issued" id="issued" value="IT"><br><br>
			</div> -->

			<!-- <div id="Tg">
				<label for="tg">Disease or agent targeted:</label><br>
				<input type="form" name="tg" id="tg" value="1">COVID-19<br><br>
			</div> -->
			<div id="Tg">
				<div class="col-xs">
					<label for="tg">Disease or agent targeted:</label><br>
					<select class="form-control" name="tg" id="tg">
						<option value="1">COVID-19</option>
					</select><br>
				</div>
			</div>


			<div id="Mp">
				<div class="col-xs">
					<label for="mp">Vaccine used:</label><br>
					<select class="form-control" name="mp" id="mp">
						<option value="1">Comirnaty</option>
						<option value="2">Spikevax</option>
						<option value="3">Vaxzevria</option>
					</select><br>
				</div>
				<!-- <label for="mp">Medicinal product used:</label><br>
				<input type="text" name="mp" id="mp" value="EU/1/20/1528"><br><br> -->
			</div>


			<div id="Ma">
				<div class="col-xs">
					<label for="ma">Test used:</label><br>
					<select class="form-control" name="ma" id="ma">
						<option value="1">NAAT</option>
						<option value="2">RAT</option>
					</select><br>
				</div>
			</div>
				<!-- <div id="Ma">
				<label id="ma_label" name="ma_label" for="ma">Marketing authorisation holder:</label><br>
				<input type="text" name="ma" id="ma" value="ORG-100030215"><br><br>
			</div> -->

			<div id="Dn">
				<label for="dn">Doses Done:</label><br>
				<input type="number" name="dn" id="dn" value=2><br><br>
			</div>

			<div id="Sd">
				<label for="sd">Doses Required:</label><br>
				<input type="number" name="sd" id="sd" value=2><br><br>
			</div>

			<div id="Dt">
				<label for="dt">Vaccine Date:</label><br>
				<input type="date" name="dt" id="dt" value="2021-08-02"><br><br>
			</div>

			<!-- <div id="Tt">
				<label for="tt">Type of test:</label><br>
				<input type="text" name="tt" id="tt" value="LP217198-3"><br><br>
			</div> -->

			<div id="Sc">
				<label for="sc">Date and time of test collection:</label><br>
				<input type="datetime-local" name="sc" id="sc" value=""><br><br>
			</div>

			<div id="Tr">
				<div class="col-xs">
					<label for="tr">Test used:</label><br>
					<select class="form-control" name="tr" id="tr">
						<option value="1">Detected</option>
						<option value="0">Not detected</option>
					</select><br>
				</div>
				<!-- <div id="Tr">
					<label for="tr">Result of the test:</label><br>
					<input type="text" name="tr" id="tr" value="260415000"><br><br>
				</div> -->
			</div>


			<div id="Fr">
				<label for="fr">Date of first positive NAAT test result:</label><br>
				<input type="date" name="fr" id="fr" value="2021-08-01"><br><br>
			</div>

			<div id="Df">
				<label for="df">Certificate valid from:</label><br>
				<input type="date" name="df" id="df" value="2021-08-15"><br><br>
			</div>

			<div id="Du">
				<label for="du">Certificate valid until:</label><br>
				<input type="date" name="du" id="du" value="2022-01-01"><br><br>
			</div>

			<div id="Fn">
				<label for="fn">Surname:</label><br>
				<input type="text" name="fn" id="fn" value="ARRIGO"><br><br>
			</div>

			<div id="Gn">
				<label for="gn">Name:</label><br>
				<input type="text" name="gn" id="gn" value="GIACOMO"><br><br>
			</div>

			<div id="Dob">
				<label for="dob">Date of birth:</label><br>
				<input type="date" name="dob" id="dob" value="1995-05-18"><br><br>
			</div>

			<!-- <div id="Ver">
				<label for="ver">Version:</label><br>
				<input type="text" name="ver" id="ver" value="1.0.0."><br><br>
			</div> -->


		</div>

		<input type="submit" value="Submit">

	</form>
</div>

<div class="col offset-md-1">
	{% if generated %}
	<div class="p-3">

		<div class="row p-2">
			<div id="error-msg" role="alert"></div>
		</div>

		<div class="row p-2">
			<div id="succ-msg" role="alert"></div>
		</div>

		<div class="row p-2">
			<div class="max-vw-50" id="qrcode-canvas"></div>
		</div>
		<div class="row p-2">
			<div class="col-sm">
				<input type="button" class="btn btn-primary" style="display: none;" id="download"
					value="Download QR code">
			</div>
		</div>

	</div>


	{% endif %}
</div>
{% block javascript %}
<script type="text/javascript">
	{% include 'switch_type.js' %}
</script>
<script type="text/javascript">
	{% include 'qr_generator.js' %}
</script>
{% endblock %}

{% endblock %}