<!-- extend base layout -->
{% extends "base.html" %}
{% block main %}

<div class="container" align="center">
	<div class="row">
	  <div class="col">
		<h1><a href="\">Request Green Pass</a></h1>
		<hr>
	  </div>
	</div>
  </div>


{% if page == 'home' %}
<form id="form" align="center" action="/sign" method="post" class="p-3">



</select><br>

<div class="form-group">

	<div id="Issued">
		<label for="Issued">Issued:</label><br>
		<input type="text" name="issued" id="issued" placeholder="IT"><br><br>
	</div>

	<div id="DN">
		<label for="dn">Doses Done:</label><br>
		<input type="number" name="dn" id="dn" placeholder=2><br><br>
	</div>

	<div id="SD">
		<label for="sd">Doses Required:</label><br>
		<input type="number" name="sd" id="sd" placeholder=2><br><br>
	</div>

	<div id="Date">
		<label for="dt">Vaccine Date:</label><br>
		<input type="date" name="dt" id="dt" placeholder="2021-08-02"><br><br>
	</div>

	<div id="Mp">
		<label for="mp">Medicinal product used:</label><br>
		<input type="text" name="mp" id="mp" placeholder="EU/1/20/1528"><br><br>
	</div>

	<div id="Ma">
		<label for="ma">Marketing authorisation holder:</label><br>
		<input type="text" name="ma" id="ma" placeholder="ORG-100030215"><br><br>
	</div>

	<div id="Tg">
		<label for="tg">Disease or agent targeted:</label><br>
		<input type="text" name="tg" id="tg" placeholder="840539006"><br><br>
	</div>

	<div id="Fn">
		<label for="fn">Surname:</label><br>
		<input type="text" name="fn" id="fn" placeholder="ARRIGO"><br><br>
	</div>

	<div id="Gn">
		<label for="gn">Name:</label><br>
		<input type="text" name="gn" id="gn" placeholder="GIACOMO"><br><br>
	</div>

	<div id="Dob">
		<label for="dob">Date of birth:</label><br>
		<input type="date" name="dob" id="dob" placeholder="1995-05-18"><br><br>			
	</div>

	<div id="Ver">
		<label for="ver">Version:</label><br>
		<input type="text" name="ver" id="ver" placeholder="1.0.0"><br><br>
	</div>	


</div>

<input type="submit" value="Submit">

</form>
{% elif page == 'generated_gp' %}
<br><br>
<strong class="d-block mb-3">{{payload}}</strong>


{% endif %}

{% endblock %}