<!-- extend base layout -->
{% extends "base.html" %}
{% block main %}

<div class="container" align="center">
	<div class="row">
	  <div class="col">
		<h1><a href="\">Statistics</a></h1>
		<hr>
	  </div>
	</div>
  </div>

<form id="form" align="center" action="/" method="get" class="p-3">


		
	<div class="container">
		<div class="row">
			<div class="col-xs">
				<label for="switch_field">Select the query type</label><br>
				<select class="form-control" id="switch_field">
			</div>
			
			<div class="col-xs">
				<option value="transaction" col-xs-3>Statistics of a transaction</option>
			</div>		
			
			<div class="col-xs">
				<option value="flight_delays" col-xs-3>Delays of a flight</option>
			</div>	
			
			<div class="col-xs">
				<option value="all_delays">Statistics of delayed flights</option>				
			</div>			
			
			<div class="col-xs">
				<option value="airport_delays">Airports with more delays</option>
			</div>
		</div>
	</div>

	</select><br>

	<div class="form-group">

		<div id="ID">
			<label for="flight_num">Transaction ID:</label><br>
			<input type="text" name="id" id="id"><br><br>
		</div>

		<div id="Number">
			<label for="flight_num">Flight number:</label><br>
			<input type="text" name="number" id="number"><br><br>
		</div>

		<div id="Date">
			<label for="from">Date:</label><br>
			<input type="date" name="date" id="date"><br><br>
		</div>

		<div id="From">
			<label for="from">Start date:</label><br>
			<input type="date" name="date_from" id="date_from"><br><br>
		</div>

		<div id="To">
			<label for="to">End date:</label><br>
			<input type="date" name="date_to" id="date_to"><br><br>
		</div>


		<div id="Time_from">
			<label for="from">Start time:</label><br>
			<input type="time" name="time_from" id="time_from"><br><br>
		</div>

		<div id="Time_to">
			<label for="to">End time:</label><br>
			<input type="time" name="time_to" id="time_to"><br><br>
		</div>

		<div id="Minimum">
			<label for="carrier">Minimum Delay:</label><br>
			<input type="text" name="minimum_delay" id="minimum_delay"><br><br>
		</div>
		
		<div id="Top">
			<label for="top">Number of airports to display:</label><br>
			<input type="text" name="top" id="top"><br><br>			
		</div>
	</div>

	<input type="submit" value="Search">

</form>
{% if query_type == 'transaction' %}
	<br><br>
	<strong class="d-block mb-3">{{message}}</strong>
	{% if transaction %}
		{% for name, value in transaction.items() %}
			<li>{{ name }}: {{ value }}</li>
		{% endfor %}
	{% endif %}

{% elif query_type == 'flight_delays' %}
<br><br>
<strong class="d-block mb-3">{{message}}</strong>
	{% if flights %}
		<ol>
		{% for flight in flights %}
			<li>
			Delay of departure: {{flight['dep_delay']}}<br>
			Delay of landing: {{flight['arr_delay']}}
			</li><br><br>
		{% endfor %}
	{% endif %}

{% elif query_type == 'all_delays' %}
	<br><br>
	<strong class="d-block mb-3">{{message}}</strong>
	{% if flights %}
		<ol>
		{% for flight in flights %}
			<li>
			{% for name, value in flight.items() %}
				{{ name }}: {{ value }}<br>
			{% endfor %} 
			</li><br><br>
		{% endfor %}
		</ol>
	{% endif %}
{% elif query_type == 'airport_delays' %}
	<br><br>
	<strong class="d-block mb-3">{{message}}</strong>
	{% if airports %}
		<ol>
		{% for airport in airports %}
			<li>
			{% for name, value in airport.items() %}
				{{ name }}: {{ value }}<br>
			{% endfor %} 
			</li><br><br>
		{% endfor %}
		</ol>
	{% endif %}
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">

$("#switch_field").change(function() {
    if ($("#switch_field").val().toString() == 'transaction') {
	  $('#form').attr('action', '/transaction');
	  $('#ID').show();
      $('#Number').hide();
	  $('#Date').hide();
	  $('#From').hide();
	  $('#To').hide();
	  $('#Time_from').hide();
	  $('#Time_to').hide();	  
	  $('#Minimum').hide();
	  $('#Top').hide();	 	  
    }
	else if ($("#switch_field").val().toString() == 'flight_delays')
	{
		$('#ID').hide();
		$('#Number').show();
		$('#Date').show();
		$('#From').hide();
		$('#To').hide();
		$('#Time_from').hide();
	  	$('#Time_to').hide();	 		
		$('#Minimum').hide();
		$('#Top').hide();	
		$('#form').attr('action', '/delays/flight');
	}
	else if($("#switch_field").val().toString() == 'all_delays')
	{
		$('#ID').hide();
		$('#Number').hide();
		$('#Date').hide();
		$('#From').show();
		$('#To').show();
		$('#Minimum').show();
		$('#Time_from').hide();
	  	$('#Time_to').hide();	 		
		$('#Top').hide();	
		$('#form').attr('action', '/delays/all');
	}
	else
	{
		$('#ID').hide();
		$('#Number').hide();
		$('#Date').hide();
		$('#From').hide();
		$('#To').hide();
		$('#Minimum').hide();
		$('#Time_from').show();
	  	$('#Time_to').show();				
		$('#Top').show();	
		$('#form').attr('action', '/delays/airports');
	}
    
  });
  $("#switch_field").trigger("change");

  $( document ).ready(function() {
	var query='{{query_type}}';
    $("#switch_field").val(query).change();
	});

</script>
{% endblock %}